#train {
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #8290a0 0%, #7f8c9b 51%, #4f5964 100%);
    color: whitesmoke;
    border-style: none;
    border-radius: 5px;

    -ms-transition: all 0.25s linear; /* IE 10 */
    -moz-transition: all 0.25s linear; /* Firefox */
    -webkit-transition: all 0.25s linear; /*safari and chrome */
}
#train:hover{
    padding-left: 15px;
    cursor: pointer;
    color: #89ead9;
}

h1 {
    font-weight: 200;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #545f6b;
}

label {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #545f6b;
    width: 250px;
    padding: 6px 0 6px 0;
}

li {
    cursor: pointer;
    padding: 2.5px 10px 2.5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 2.5px solid #545f6b;
}

li a {
    color: #545f6b;
    text-decoration: none;

    -ms-transition: padding 0.25s linear; /* IE 10 */
    -moz-transition: padding 0.25s linear; /* Firefox */
    -webkit-transition: padding 0.25s linear; /*safari and chrome */
}

li a:hover{
    padding-left: 20px;
    color: #545f6b;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #545f6b;
}

.canvases {
    display: inline-block;
}

.nav{
    padding-left: 5px;
    padding-right: 5px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: #545f6b;
}

.page-container{
    padding: 25px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}

.prediction-canvas {
    width: 100px;
}

.pred {
    font-size: 20px;
    line-height: 25px;
    width: 100px;
}

.pred-correct {
    background-color: #00cf00;
}

.pred-incorrect {
    background-color: red;
}

.pred-container {
    display: inline-block;
    width: 100px;
    margin: 10px;
}

.section-head {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: #545f6b;
    border-left: 2.5px solid #545f6b;
    
}

.subtitle {
    font-weight: 200;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #545f6b;
}



